@page
@model Lab5.Pages.Predictions.CreateModel

<h4>Prediction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label><br/>

                <label class="radio-inline">
                    <input type="radio" asp-for="Prediction.Question" value="Computer">What will the computers look like in 20 years?
                </label><br/>

                <label class="radio-inline">
                    <input type="radio" asp-for="Prediction.Question" value="Earth">What will the earth look like in 20 years?
                </label><br/>

                <span asp-validation-for="Prediction.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ImageFile" type="file" class="form-control-file" />
                
                <span class="text-danger">@ViewData["ImageFileError"]</span>
            </div>
            @*<div class="form-group">
                <label asp-for="ImageFile" class="control-label">Image</label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <button name="upload" class="btn btn-primary">Upload Now</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
